::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } body {
background: rgb(0, 0, 0)
}

.form-control:focus {
box-shadow: none;
border-color: #ff0000
}

.profile-button {
background: rgb(225, 0, 0);
box-shadow: none;
border: none
}

.profile-button:hover {
background: #ff0000
}

.profile-button:focus {
background: #682773;
box-shadow: none
}

.profile-button:active {
background: #682773;
box-shadow: none
}

.back:hover {
color: #682773;
cursor: pointer
}

.labels {
font-size: 11px
}

.add-experience:hover {
background: #BA68C8;
color: #fff;
cursor: pointer;
border: solid 1px #BA68C8
}

.bg-img{
  background-image: url('static/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.sign-up-form{
  width: 500px;
  background:rgb(255, 0, 0);
  padding: 1.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

.profile-button-signup {
  background: rgb(37, 37, 37);
  box-shadow: none;
  border: none
  
  }
  
.profile-button-signup:hover {
background: rgb(0, 0, 0)
}

.btn-container {
  display: flex;
  justify-content: center;
}