{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={% static "css/accounts.css" %}>
{% endblock head %}

{% block content %}
<div class='bg-img'>
    <div class='sign-up-success'>
        <a href={% url 'login' %}>
            <button class='btn btn-primary btn-lg' style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: 2rem;" type='submit'>Congratulations! You've created a new account. <br> <br> Click here to go to login</button>
        </a>
    </div>
</div>
{% endblock content %}