{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sing up{% endblock title %}
{% block head %}
    <link rel="stylesheet" type="text/css" href={% static "css/accounts.css" %}>
{% endblock head %}

{% block content %}
<div class='bg-img'>
    <div class='sign-up-form'>
        <h1>Sign up</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col-md-12">
                    {{ form.username | as_crispy_field }}
                </div>
                <div class="col-md-12">
                    {{ form.password1 | as_crispy_field }}
                </div>
                <div class="col-md-12">
                    {{ form.password2 | as_crispy_field}}
                </div>
                <div class="col-md-12 btn-container">
                    <button class="btn btn-primary profile-button-signup" type="submit">Sign Up</button>
                    <a href={% url 'home' %}><button class="btn btn-primary profile-button-signup mx-2" type="button">Cancel</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}